p, ul, li {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #000000;
}

.console {
  padding: 10px;
  position: absolute;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.people {
  list-style-type: none;
}

.stats {
  position: absolute;
  right : 0;
}