@charset "UTF-8";

$width: 1000px;

@mixin path($path) {
	 background-image: url(../images/#{$path});
}

@mixin tf($prop) {
	-webkit-transform: $prop;
	-moz-transform: $prop;
	-o-transform: $prop;
	-ms-transform: $prop;
	transform: $prop;
}

* {
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

body {
   margin: 0;
   padding: 0;
   text-align: left;
   color: #000000;
   font-size: 1em;
   line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
   font-weight: normal;
}

ul, li {
   list-style: none;
   margin: 0;
   padding: 0;
   list-style-position:outside;
}

img, a img{
   margin: 0;
   padding: 0;
   border: 0;
   border-style: none;
   text-decoration: none;
   vertical-align: top;
}

object, embed{
   vertical-align: bottom;
}

input {
	vertical-align: top;
}

a {
	color: #444444;
	text-decoration: none;
	   
	&:hover {
		color: #aaaaaa;
	}
	&:focus {
   		outline: none;
   }
}

a[rel~="out"] {
	margin: 0 2px;
	padding: 0 4px;
	background-color: #e91a94;
	color: #ffffff;
	font-weight: bold;
	
	&:hover {
		color: #cccccc;
	}	
}

p {
   margin: 0;
   padding: 0;
}

table,
table th,
table td{
   border-collapse: collapse;
   text-align: left;
}

.clear {
   clear: both;
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   font-size: 0;
   clear: both;
   visibility: hidden;
}
.clearfix {
   zoom: 1;
}

body {
	color: #333333;
	background-color: #f5f5f5;
	font-size: 0.85em;
	line-height: 1.5em;
	font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
}

p {
	margin: 0 0 1em 0;
}

#container {
	width: 100%;
	
	#content {
	
	}
	
	#header {
		width: 100%;
		min-width: $width;
		height: 350px;
		//background-color: rgba(0, 0, 0, 0.7);
		position: absolute;
		z-index: 100;
		
		h1 {
			padding: 50px 0 0 0; 
			text-align: center;
		}
	}
	
	h2 {
		font-size: 1.5em;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	
	iframe {
		width: 100%;
		min-width: $width;
		position: relative;
		z-index: 10;
	}
	
	#canvas {
	
		#tokyo,
		#linz {
			width: 100%;
			height: 800px;
			opacity: 0.5;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		#streetview {
			width: 80%;
			height: 600px;
			position: absolute;
			top: 100px;
			left: 10%;
		}
	}
		
	#description {
		width: $width;
		margin: 0 auto;
		padding: 30px 0 36px 0;
		border-bottom: 1px solid #dddddd;
		@include path("bg_end.gif");
		background-position: right bottom;
		background-repeat: no-repeat;
		@include tf(rotate(-2deg));
		
		
		h2 {
			padding: 0 0 20px 0;
		}
		
		.normal {
			padding: 2em 0;
			@include tf(rotate(2deg));
		}
	}
	
	#widget {
		width: $width;
		margin: 0 auto;
		padding: 0 0 36px 0;
		
		#flickr {
			float: left;
			width: 550px;
						
			#flickr_badge_uber_wrapper { width:550px;}
			#flickr_badge_wrapper {padding:10px 0 10px 0;}
			.flickr_badge_image {float: left; padding:0 10px 10px 10px;}
			.flickr_badge_image img {border: 1px solid black !important;}
			#flickr_badge_source {text-align:left; margin:0 10px 0 10px;}
			#flickr_badge_icon {float:left; margin-right:5px;}
			#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
			#flickr_badge_uber_wrapper a:hover,
			#flickr_badge_uber_wrapper a:link,
			#flickr_badge_uber_wrapper a:active,
			#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
			#flickr_badge_wrapper {background-color:#ffffff;border: solid 1px #000000}
			#flickr_badge_source {clear: both; padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
		}
		
		#twitter {
			float: left;
			width: $width - 550px - 36px;
			padding: 0 0 0 36px;
			
		}
		
		#ustream {
			padding: 20px 0 0 0;
			
			.channel {			
				float: left;
				width: $width/2 - ($width/2 - 480px);
				padding: 0 ($width/2 - 480px)/2;
			}
		}
	}
		
	#information {
		width: $width;
		margin: 50px auto 0 auto;
		padding: 10px 0 30px 0;
		
		h2 {
			padding: 0 0 30px 0;
			text-align: right;
			@include tf(rotate(2deg));
		}
		
		h3 {
			margin: 0 0 1em 0;			
			
			span {
				background-color: #31dee9;
				font-weight: bold;
			}
		}
		
		p {
			padding: 0 0 0 $width/3;
		}
		
		.detail {
			padding: 24px 0 0 0;
			@include tf(rotate(-1deg));
		}
		
		.space {
			float: left;
			width: 550px;
		}
		
		.schedule {
			float: left;
			width: $width - 550px - 36px;
			padding: 24px 0 0 36px;			
		}
		
		ul {
			padding: 10px 0;
		
			li {
				font-style: italic;
			}
		}
		
		dl {
			padding: 10px 0;
		
			dt {
				font-weight: bold;
			}
			
			dd {
				padding: 0 0 1em 1em;
				font-style: italic;
			}
		}
	}
	
	#access {
		width: $width;
		margin: 0 auto 30px auto;
		padding: 10px 0 30px 0;
		border-bottom: 1px solid #dddddd;
		@include path("bg_end.gif");
		background-position: right bottom;
		background-repeat: no-repeat;
		
		h3 {
			margin: 0 0 1em 0;			
			
			span {
				background-color: #31dee9;
				font-weight: bold;
			}
		}
		
		#map {
			float: left;
			width: 550px;
			height: 314px;
		}
		
		.place {
			float: left;
			width: $width - 550px - 36px;
			padding: 0 0 0 36px;
			@include tf(rotate(-2deg));
		}	
	}
	
	#social {
		width: $width;
		margin: 0 auto;
		
		ul {
			width: $width;
			padding: 10px 0 100px 0;
			border-top: 1px solid #cccccc;
				
			li {
				float: left;
				padding: 0 40px 0 0;
				font-family: Helvetica, Arial, sans-serif;
				font-weight: lighter;
			}
		}
	}
}







